body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-principal{
    background-color: #fff;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    float: center;
}

.logo{
    padding: 0;
    float: left;
}

.redes-sociais ul li{
    margin-left: 10px;
    display: inline;
    float: right;
    list-style: none;
}
